
body{
    margin: 0;
    /* margin of rest part is zero */
    overflow: hidden; 
    /* to remove scrolling properties */
    font-size: 14px;
}

*{
    box-sizing: border-box;
    /* to include border and padding in itself */
}
.container{
    height: 100vh;
}

.title-bar{
    height: 5vh;
    background-color: #107c41;
    /* flex box display flex application use these 3 lines to allign anything in center */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu-bar{
    height: 5vh;
    background-color: #107c41;
    display: flex;
}

.menu-item{
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.menu-item.selected{
    background-color: #fff;
    color: #107c41;
}

.menu-item:hover{
    background-color: #033519;
    cursor: pointer;
}

.menu-item.selected:hover{
    background-color: #fff;
    cursor: default;
}

.menu-icon-bar{
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: rgb(230, 225, 225);
}

.menu-icon-bar .menu-icon{
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-icon:hover{
    background-color: lightgray;
    cursor: pointer;
}

.selector{
    height: 80%;
    font-size: 18px;
}

.font-family-selector{
    width: 136px;
}

.selector option{
    font-size: 18px;
}

.formula-bar{
    height: 5vh;
}

.data-container{
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
}

.select-all{
    height: 30px;
    width: 30px;
    border: 1px solid green;
}

.column-name-container{
    height: 30px;
    width: calc(100vw - 30px);
    border: 1px solid yellow;
    display: flex;
}

.column-name{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
    font-weight: bold;
}

.row-name-container{
    width: 30px;
    height: calc(75vh - 30px);
    border: 1px solid purple;
}

.row-name{
    height: 25px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

.input-cell-container{
    /* calc works with space between operator sign */
    width: calc(100vw - 30px); 
    height: calc(75vh - 30px);
    border: 1px solid navy;
}

.cell-row{
    display: flex;
}

.input-cell{
    width: 100px;
    height: 25px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.scroller{
    width: 70px;
}

.sheet-bar{
    height: 4vh;
    display: flex;
    align-items: center;
}

.sheet-bar .icon-left-scroll,.sheet-bar .icon-right-scroll{
    font-size: 30px;
}

.icon-left-scroll:hover,.icon-right-scroll:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.icon-add{
    color: #107c41;
    width: 40px;
}

.icon-add:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.sheet-tab-container{
    border: 1px solid lightgrey;
}
.sheet-tab{
    width: 80px;
    border-bottom: 4px solid #107c41;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-right: 1px solid lightgrey;
}

.sheet-tab:hover{
    cursor: default;
}